/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

/* .bitcount-grid-double-body {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Bitcount Grid Double", system-ui; */
  width: 100%;
  height: 100vh;
  /* margin: 0%; */
  /* overflow: hidden; */
  background-color: #131312;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  width: 85%;
  height: 95%;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

header .menu_side, .song_side {
  position: relative;
  width: 25%;
  height: 90%;
  border: 1px solid red;
  background-color: #111727;
  box-shadow: 5px 0px 2px #090f1f;
  color: #fff;
}

header .song_side {
  height: auto;
  width: 75%;
  background-color: #0b1320;
}
header .master_play {
  width: 100%;
  height: 10%;
  background-color: #111727;
  box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
  /* position: absolute; */
  font-size: 20px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}
header .menu_side .playlist {
  margin: 40px 0px 0px 20px;
}
header .menu_side .playlist h4 {
font-size: 14px;
font-weight: 500;
padding-bottom: 10px;
color: #4b5164;
cursor: pointer;
display: flex;
align-items: center;
transition: .3s linear;
}
header .menu_side .playlist h4:hover {
  color: #ffffff;
  position: relative;
}
header .menu_side .playlist h4 span {
  position: relative;
  margin-right: 10px;
}
header .menu_side .playlist h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
border: 2px solid #36e2ec;
border-radius: 50%;
top: -4px;
transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before {
  border: 2px solid #ffffff;
}
 header .menu_side .playlist .active {
  color: #36e2ec;
}

header .menu_side .menu-songs{
  width: 100%;
  height: 60%;
  border: 2px solid #fff;
  margin-top: 40px;
}